@font-face {
  font-family: "authentic-sans";
  src: url("../assets/fonts/authentic-sans-60.woff2") format("woff2"),
    url("../assets/fonts/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
